@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}
.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* content */
.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: center;
  margin-bottom: 200px;
  margin-top: 200px;
}
/* header */

.header-title h1 {
  font-size: 5rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}
.header-title h1 span {
  line-height: 70px;
}
.header-title h1 span.market {
  color: #e72d35;
}
/*button order 7743DB  */
.btn-order {
  background: #7743db;
  padding: 10px 50px;
  border-radius: 87px;
  border-color: #7743db;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 500;
}

/* footer */
.footer {
  background: #e72d35;
  color: #fff;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 30px 10px;
  font-size: 15px;
}
.footer span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 575px) {
  .header-title h1 {
    font-size: 5rem;
  }
  .btn-order {
    margin-top: 90px;
    padding: 20px 30px;
  }
}
